
body { font-family: sans-serif; }

:focus {
  outline: 4px #3582ff solid;
}

.container, #container{
  width: 720px;
  margin: 10px;
  border: black solid 1px;
}

.select {
  width: 720px;
  padding: 10px;
  color: white;
  border-radius: 10px 10px 0 0;
  background: gray;
  height: 20px;
  line-height : 20px;
}

#initial_focus {
  background: #F08080;
}

.test_btn {
  font-weight: bold;
}