
body { font-family: sans-serif; }

:focus {
  outline: 4px #3582ff solid;
}

.container, #container{
  width: 720px;
  margin: 10px;
  border: black solid 1px;
}

.select {
  width: 720px;
  padding: 10px;
  margin-top: 10px;
  color: white;
  border-radius: 10px 10px 0 0;
  background: gray;
  height: 100px;
  line-height : 20px;
}

.options {
  display: inline;
}

#initial_focus {
  background: #F08080;
}

#get_result {
  font-weight: bold;
  height: 30px;
}

#get_result::before, #get_result::after {
  content: "";
  display: block;
  border: solid 1px navy;
  margin: 1px;
}