body {
  margin: 20px;
}

#feed {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 50px;
  background-color: #fff;
  color: #444;
  margin: 40px;
}

.item {
  padding: 20px;
  height: 150px;
  weight: 150px;
}