@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(https://themes.googleusercontent.com/static/fonts/roboto/v11/2UX7WLTfW3W8TclTUvlFyQ.woff)
}

body {
  margin: 20px;
  font-family: 'Roboto';
}

h1 {
  text-align: center;
}

.option {
  margin: 20px auto;
  text-align: center;
}

#feed {
  display: grid;
  overflow-x: scroll;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  background-color: #fff;
  color: #444;
  height: 500px;
  width: 500px;
  margin: auto auto;
  border: 3px solid lightgrey;
}

.item {
  height: 150px;
  width: 150px;
  margin: 20px;
  justify-self: center;
}